<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Du abonnerer på Ordbok API Utviklingsblogg</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f5f5f5; margin:
      0; padding: 0; } .container { max-width: 600px; margin: 0 auto; padding:
      20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 2px 5px
      rgba(0, 0, 0, 0.1); text-align: center; } h1 { color: #333333; margin-top:
      0; } p { color: #666666; margin-bottom: 20px; text-align: left; } .button
      { display: inline-block; padding: 10px 20px; background-color: #007bff;
      color: #ffffff; text-decoration: none; border-radius: 5px; } .footer {
      margin-top: 20px; } @media (prefers-color-scheme: dark) { body {
      background-color: #333333; color: #ffffff; } .container {
      background-color: #222222; } h1 { color: #ffffff; } p { color: #cccccc; }
      }
    </style>
  </head>

  <body>
    <div class='container'>
      <h1>Du abonnerer på Ordbok API Utviklingsblogg</h1>
      <p>Takk for at du har stadfesta e-postadressa di. Du vil få oppdateringar
        frå Ordbok API Utviklingsblogg.</p>
      <div class='footer'>
        <p>Viss du ynskjer å avslutta abonnementet, kan du gjera det ved å
          klikka her:
          <a href='{{unsubscribeUrl}}'>Avslutta abonnementet</a></p>
      </div>
    </div>
  </body>

</html>